/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* Main element containing images */
main {
    width: 100%;
    text-align: center;
}

/* Style for images */
img {
    width: 400px;
    height: 600px;
    margin: 20px 0;
    display: block;
    opacity: 0;
    /* Initial opacity to create fade-in effect */
    animation: fadeIn 1.5s forwards;
    /* Apply fade-in animation */
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}